/* Med*/
@media (max-width: 920px) {
    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 850px) 1fr;
    }

    /* body{
        background-color: #229f00;
    } */

    .post {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 6em;

    }

    .post-title,
    .post-text {


        padding: 5px 5px;
        margin: 0;
    }

    .nav-item {
        position: relative;
        border-left: 1px solid rgb(27, 27, 27);
        border-right: 1px solid rgb(27, 27, 27);
        text-align: center;
        display: grid;
        align-content: center;
        height: 8em;
        width: 6em;
    }

    .btn-menu {
        display: none;
    }
    .sec-nav {
        display: none;
    }

}


/* SMALL */
@media (max-width: 740px) {
    .main-layout {
        display: grid;
        grid-template-columns: minmax(40px, 1fr) minmax(auto, 1340px) minmax(40px, 1fr);
    }

    /* body{
        background-color: #50009f;
    } */

    .post {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 6em;
        justify-items: center;
    }

    .post-title,
    .post-text {

        padding: 10px 35px;
    }

    .nav-item {
        position: relative;
        border-left: 1px solid rgb(27, 27, 27);
        border-right: 1px solid rgb(27, 27, 27);

        place-content: center;
        display: grid;
        align-content: center;
        height: 8em;
        width: 5em;
    }

    .hide-it {
        display: none;
    }


    .btn-menu {
        margin: 0;
        display: inline;
        cursor: pointer;
        opacity: 0;
        transition: color 0.4s ease;
        transition: opacity 0.3s ease;
        transition: color 0.4s ease, opacity 0.3s ease, transform 0.15s ease; /* Combined transitions */
    transform: rotate(0deg);
    }
    .btn-menu:hover{
        color: var(--hoverclr);
        transform: rotate(90deg);
    }
    
    .hide-bt {
        opacity: 1;
    }

    .sec-nav {
        display: inline;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-block-start: 6.4em; */
      
    }


    .nav-item {
        height: 5vh;
        width: 20vw;
        margin-block-start: 25px;
        background-color: rgb(26, 26, 26);
        border-radius: 8px;
        border-left: 0px;
        border-right: 0px ;
        
    }

    .main-nav-container{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;

        background-color: rgba(239, 239, 239, 0.8);
        width: 100%;
        max-width: 200px;
        transform: translateX(100%);
    
        transition: transform 0.8s, box-shadow 0.8s;
    }

    body.menu-open .main-nav-container {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 15%);
      }
    


}


/* LARGE */
@media (min-width: 920px) {
    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 960px) 1fr;

    }

    .btn-menu {
        display: none;
    }

    .nav-item {
        position: relative;
        border-left: 1px solid rgb(27, 27, 27);
        border-right: 1px solid rgb(27, 27, 27);
        place-content: center;
        height: 8em;
        width: 8em;
    }
    .sec-nav {
        display: none;
    }
}