
.main-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 4.375em;
    height: 315px;
    text-align: center;
    background-color:var( --footerbgclr);
}

.logo-black{
    color: var(--logoblackclr);
    font-size: 2.5rem;
    font-family: eurofurence;
}

.footer-social{
    justify-content: center;
}