.main-header {
    /* display: flex; */
    height: 128px;
    background-color: var(--header-clr);
    color: var(--headertextclr);

    text-decoration: none;
    /* text-transform: uppercase; */
}


.main-nav {
    display: flex;
    gap: 50px;
}

.main-nav li {
    list-style: none;
}


.logo {
    color: var(--headertextclr);
    font-size: 2.5rem;
    font-family: eurofurence;
}