.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6em;
}

.post-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
    grid-column: 1/ 2;
    grid-row: 1/4;
}

.post-title {
    color: var(--posttitleclr);
    font-family: lato-bold;
    text-transform: uppercase;
}

.post-bt {
    width: 186px;
    height: 40px;
    border-radius: 25px;
    color: var(--postbtclr);
    background-color: #fff;
    border: 2px solid var(--postbtclr);
    margin-inline-start: 2.5em;
    transition: 0.5s ease;
}

.post-bt:hover {
    cursor: pointer;
    border: 2px solid var(--hoverclr);
    color: var(--hoverclr);
    animation: pulse 1s infinite;
}

.post-title,
.post-text {
    padding: 10px 35px;
}

.post-text {
    color: var(--posttextclr);
}

.post-layout:nth-child(3) {
    display: grid;

    margin-bottom: 6em;
}