

/* playfair is the name that i put  */
@font-face {
  font-family: eurofurence;
  src: url(/fonts/eurofurence/eurof55.ttf);
}
  @font-face {
    font-family: Lato-Bold;
    src: url(/fonts/Lato/Lato-Bold.ttf);

  }
  @font-face {
    font-family: Lato-Regular;
    src: url(/fonts/Lato/Lato-Regular.ttf);
  }
  