/* Colors Pallete  */
:root {
    --header-clr: rgba(41, 41, 41, 1);
    --headertextclr: #FFFFFF;
    --posttitleclr: #4F4E4E;
    --posttextclr: #606060;
    --postbtclr: #C2C1C1;
    --postnavclr: #818188;
    --postbtclr: rgba(194, 194, 194, 1);
    --hoverclr: #58C93A;
    --logoblackclr: #292929;
    --footerbgclr: rgba(248, 248, 248, 1);
    --footertext: #A6A6A6;
}